@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p><i class="bi bi-fire"></i>  This web application is built by Firdausi Suzuki  <i class="bi bi-fire"></i></p>
</div>
